/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; } 
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { 
  font-size: 0.95em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background: white; 
  color: #444;
  text-rendering: optimizelegibility;
}

select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

header h1 { color: black; font-size: 3em; font-weight: bold; line-height: 1.1em; margin: 1em 0 6px 0; letter-spacing: -1px; }

div#content {margin: 0 auto; padding: 40px 50px 40px; width: 738px; }

footer { color: #999; padding-top: 40px; font-size: 0.8em; text-align: center; }

p { margin: 0 0 .7em; max-width: 700px; }

h2 { border-bottom: 1px solid #ccc; font-size: 1.2em; margin: 3em 0 1em 0; font-weight: bold;}
h3 { font-weight: bold; }

h2.intro { border-bottom: none; font-size: 1em; font-weight: normal; margin-top:0; }

ul li { list-style: disc; margin-left: 1em; margin-bottom: 1.25em; }
ol li { margin-left: 1.25em; }
ol ul, ul ul { margin: .25em 0 0; }
ol ul li, ul ul li { list-style-type: circle; margin: 0 0 .25em 1em; }

li > p { margin-top: .25em; }

div.side-by-side { width: 100%; margin-bottom: 1em; }
div.side-by-side > div { float: left; width: 49%; }
div.side-by-side > div > em { margin-bottom: 10px; display: block; }

.faqs em { display: block; }

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

a { color: #F36C00; outline: none; text-decoration: none; }
a:hover { text-decoration: underline; }

ul.credits li { margin-bottom: .25em; }

strong { font-weight: bold; }

/* OSS Bar
-------------------------------------------------- */
.oss-bar { top: 0; right: 20px; position: fixed; z-index: 1030; }
.oss-bar ul { float: right; list-style: none}
.oss-bar ul li { float: left; line-height: 0; margin: 0; list-style: none }
.oss-bar ul li a {
  margin-top: -10px;
  display: block;
  height: 22px;  
  background: #F36C00 url(oss-credit.png) no-repeat 18px 20px;
  padding: 20px 18px 10px 18px;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 120%; /* For Firefox */
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.oss-bar ul li a:hover { margin-top: 0px; }
.oss-bar a.harvest { width: 142px; background-color: #F36C00; background-position: -136px 20px; }
.oss-bar a.fork { width: 112px; background-color: #333333; }